.transaction-table-container {
  font-family: 'Your font', sans-serif;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}

.transaction-table th {
  position: relative;
  cursor: pointer;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-button {
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #7c5dfa;
  color: white;
  border-radius: 5px;
  font-size: 1em;
}

.page-button:hover {
  background-color: #6d4ecb;
}

.transaction-history-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  /* You can add more styles here that fit the theme of your UI */
}

.records-per-page {
  display: flex;
  align-items: center;
  /* Additional styles if needed */
}

.records-per-page label {
  margin-right: 10px;
  /* You may want to style the label to match the rest of your UI */
}

.records-per-page select {
  /* Style to match the buttons or input fields of your current design */
  border: 1px solid #ccc; /* Example style */
  padding: 5px 10px;
  border-radius: 5px;
  /* Add more styles here */
}


.btn {
  background-color: #4CAF50; /* A shade of green that should be visible but not distracting */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s; /* Smooth transition for hover effect */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Slight shadow for depth */
  margin-right: 100px;
}

.btn:hover {
  background-color: white;
  color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* You can also add :focus and :active pseudo-classes for accessibility */
.btn:focus,
.btn:active {
  outline: none;
  border: none;
  position: relative;
  top: 1px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}


